@charset "utf-8";

body {
    width: 980px;
    margin: 0 auto;
    padding: 32px;
    text-align: center;
    line-height: 1.5;
}
section {
    margin: 20px 0;
}
h2,p {
    margin: 10px 0;
}
h2 {
    font-weight: bold;
    font-size: 24px;
}
input,textarea {
    margin: 10px 0;
}
a {
    text-decoration: none;
    border: 1px solid #000;
    color: black;
}
strong {
    color: blue;
    padding: 8px;
    border: 1px solid #000;
}
form p {
    margin-top: 20px;
}


#intro {
    display: flex;
    flex-direction: column;
    
}
